**/*.pyc
checkpoints/*
samples/*
sh_files/*
logs_ext/*
analysis.sh
images/*
inference_only.py
*.csv
pcgita_splits/TRAIN_TEST_1/test.csv
pcgita_splits/TRAIN_TEST_1/train.csv
pcgita_splits/TRAIN_TEST_10/test.csv
pcgita_splits/TRAIN_TEST_10/train.csv
pcgita_splits/TRAIN_TEST_2/test.csv
pcgita_splits/TRAIN_TEST_2/train.csv
pcgita_splits/TRAIN_TEST_3/test.csv
pcgita_splits/TRAIN_TEST_3/train.csv
pcgita_splits/TRAIN_TEST_4/test.csv
pcgita_splits/TRAIN_TEST_4/train.csv
pcgita_splits/TRAIN_TEST_5/test.csv
pcgita_splits/TRAIN_TEST_5/train.csv
pcgita_splits/TRAIN_TEST_6/test.csv
pcgita_splits/TRAIN_TEST_6/train.csv
pcgita_splits/TRAIN_TEST_7/test.csv
pcgita_splits/TRAIN_TEST_7/train.csv
pcgita_splits/TRAIN_TEST_8/test.csv
pcgita_splits/TRAIN_TEST_8/train.csv
pcgita_splits/TRAIN_TEST_9/test.csv
pcgita_splits/TRAIN_TEST_9/train.csv
logs/*